body
{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    text-decoration: none;
    cursor: pointer;
}

header
{
    width: 100%;
    height: 60px;
}

header nav
{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-list-right
{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-list-right a
{
    margin-left: 10px;
    color: #000000;
}

nav .menu-icon
{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

nav .nav-list-right img
{
    border-radius: 50%;
}

main
{
    margin-top: 95px;
    text-align: center;
}

main .main-logo 
{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 25px;
}

main .main-search 
{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .search-container
{
    width: 555px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .search-container input
{
    width: 470px;
    height: 40px;
    border: none;
    outline: none;
}

main .search-container .icon-search
{
    background-image: url("https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_1280.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

main .search-container .icon-voice
{
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

main .main-buttons
{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div 
{
    display: inline-block;
}

main .main-buttons button
{
    height: 36px;
    padding: 0 15px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
    color: #3c4043;
    margin-right: 15px;
}

main .main-buttons button:hover
{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #202124;
    cursor: pointer;
}

footer
{
    width: 100%;
    height: 40px;
    position:absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

footer ul
{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;

}

footer .footer-left
{
    justify-self: left;
}

footer .footer-right
{
    justify-self: right;
}

footer ul li a
{
    margin-left: 25px;
    color: #70757a;
    font-size: 14px;
}

footer ul li a:hover
{
    text-decoration: underline;
    cursor: pointer;
}